<style>
  ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -20px;
  }
  .added {
    list-style-type: "+ ";
  }
  .changed {
    list-style-type: "● ";
  }
  .removed {
    list-style-type: "- ";
  }

</style>
<div>
  <h2>V 0.3 - Demo</h2>
  <p>25.08.2023 - Update 2</p>
  <p>Major restructuring of RecruitMe to meet new demands.</p>
  <ul class="added">
    <li>Added proper favicon</li>
    <li>Added Database functionality</li>
    <li>Added Startpage</li>
    <li>Added new Routes (/onboarding, /viewer)</li>
    <li>Dynamically added 'Familie'-Step <br /> &nbsp; Only appears when the candidate has either children or a partner.</li>
    <li>Slightly improved UI/UX</li>
  </ul>

  <ul class="changed">
    <li>Restructured Backend to match new demands</li>
  </ul>
  <br />
</div>


<div>
  <h2>V 0.2 - Demo</h2>
  <p>22.08.2023 - Update 1</p>
  <p>First Update mostly surrounding 'Recruitingdata'.</p>
  <ul class="added">
    <li>Added Version Site (this site)</li>
    <li>Added 'Rekrutierungsdaten'-Step</li>
    <li>Added Recruitingdata logic</li>
  </ul>

  <ul class="changed">
    <li>Changed branding</li>
    <li>Cleaned up Backend structure</li>
    <li>Page now automatically scrolls to top when changing site</li>
  </ul>

  <ul class="removed">
    <li>Removed Example Contracts and Contract generation</li>
  </ul>
  <br />
</div>

<div>
  <h2>V 0.1 - Demo</h2>
  <p>20.08.2023 - Init</p>
  <p>Initialapp commit</p>
  <br />
</div>
