<style>
  .full-width {
    width: 100%;
    margin-left: 2rem;
  }
  .full-width:first-child {
    margin-top: 2rem;
  }
  mat-form-field {
    height: 70px;
    font-size: 14px;
    appearance: none;
  }
  mat-form-field * {
    font-size: 14px;
  }
  mat-label {
    font-size: 15px;
  }

  .inline {
    width: 50%;
    display:inline-block;
  }
  .inline p {
    font-size: 12px;
  }
  .inline mat-radio-button {
    float: left;
  }
</style>

<div>
  <div class="full-width">
    <mat-radio-group formControlName="ownBills">
      <div class="inline">
        <mat-label>Stellt Kandidat eine eigene Rechnung?</mat-label>
        <p>Rechnung über eigene Firma oder als Freelancer.</p>
      </div>
      <div class="inline">
        <mat-radio-button value="1" [style.margin-right.rem]="1">Ja</mat-radio-button>
        <mat-radio-button value="0">Nein</mat-radio-button>
      </div>
      <br />
    </mat-radio-group>


    <mat-radio-group formControlName="foreignBills" *ngIf="form.recruitingData.value.ownBills == '1'">
      <div class="inline">
      <mat-label>Wird die Rechnung aus dem Ausland gestellt?</mat-label>
        <p>Rechnung aus dem Ausland über eigene Firma oder als Freelancer.</p>
      </div>
      <div class="inline">
      <mat-radio-button value="1" [style.margin-right.rem]="1">Ja</mat-radio-button>
      <mat-radio-button value="0">Nein</mat-radio-button>
      </div>
      <br />
    </mat-radio-group>


    <mat-radio-group formControlName="VAT" *ngIf="form.recruitingData.value.foreignBills == '0'">
      <div class="inline">
      <mat-label>Ist der Kandidat mehrwertsteuerpflichtig?</mat-label>
        <p>Rechnung wird mit Schweizer Mehrwertsteuer ausgestellt.</p>
      </div>
      <div class="inline">
        <mat-radio-button value="1" [style.margin-right.rem]="1">Ja</mat-radio-button>
      <mat-radio-button value="0">Nein</mat-radio-button>
      </div>
      <br />
    </mat-radio-group>


    <mat-radio-group formControlName="wage" *ngIf="form.recruitingData.value.ownBills == '0'">
      <div class="inline">
      <mat-label>Zahlen wir den Kandidaten einen Lohn?</mat-label>
        <p>Erstellen die Lohnabrechnung und führen die Lohnzahlung aus.</p>
      </div>
      <div class="inline">
        <mat-radio-button value="1" [style.margin-right.rem]="1">Ja</mat-radio-button>
      <mat-radio-button value="0">Nein</mat-radio-button>
      </div>
      <br />
    </mat-radio-group>


    <mat-radio-group formControlName="provision" *ngIf="form.recruitingData.value.wage == '0'">
      <div class="inline">
      <mat-label>Erhalten wir eine Provision?</mat-label>
        <p>Wir erhalten keine rechnung und zahlen keinen Lohn.</p>
      </div>
      <div class="inline">
        <mat-radio-button value="1" [style.margin-right.rem]="1">Ja</mat-radio-button>
      <mat-radio-button value="0">Nein</mat-radio-button>
      </div>
      <br />
    </mat-radio-group>


  </div>
</div>
