<mat-card [style.width.px]="960">

    <mat-card-header>
      <mat-card-title>RecruitMe Formular</mat-card-title>
      <mat-card-subtitle>Das automatische Arbeitsvertrags-Tool.</mat-card-subtitle>
    </mat-card-header>

  <mat-card-content>
      <mat-vertical-stepper [linear]="true">

        <mat-step [stepControl]="form.personalData">
          <form [formGroup]="form.personalData">
          <ng-template matStepLabel>Personalien</ng-template>
          <app-personal></app-personal>
          </form>
        </mat-step>

        <mat-step [stepControl]="form.workData">
          <form [formGroup]="form.workData">
          <ng-template matStepLabel>Arbeitsbedingungen</ng-template>
          <app-work></app-work>
          </form>
        </mat-step>

        <mat-step [stepControl]="form.recruitingData">
          <form [formGroup]="form.recruitingData">
            <ng-template matStepLabel>Rekrutierungsdaten</ng-template>
            <app-recruiting></app-recruiting>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Fertigstellung</ng-template>
          <p>Vielen Dank, alle benötigten Daten wurden erfasst. <br />
            Generierung des Arbeitsvertrages wird per Knopfdruck gestartet.
          </p>
          <div>
            <button mat-raised-button type="button" (click)="onSubmit()">Arbeitsvertrag Generieren</button>
          </div>
        </mat-step>

      </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
